main{
    clear: both;
}
main aside{
    float: left;
    width: 150px;
}
main section{
    margin-left: 150px;
}

section .info{
    position: relative;
}
section .info a{
    position: absolute;
    top: 0;
    left: -30px;
    text-align: center;
}
section .info a:hover{
   width: 30px;
   height: 30px;
   background: #CC00CC;
}

